<a href="https://colab.research.google.com/github/chocojini/saessag_project1/blob/main/Day_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
cd /content/python_300

[Errno 2] No such file or directory: '/content/python_300'
/content

In [ ]:
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

### 변수사용하기 (11~20)

In [ ]:
시가총액 = '298조'
현재가 = '50,000원'
PER = 15.97

print(시가총액, type)
print(현재가, type)
print(PER, type)

298조 <class 'type'>
50,000원 <class 'type'>
15.97 <class 'type'>

In [ ]:
s = "hello"
t = "python"
print(s+'!', t)

hello! python

In [ ]:
2 + 2 * 3

8

In [ ]:
a = 128
print(type(a))

<class 'int'>

In [ ]:
a = "132"

In [ ]:
type(a)

str

In [ ]:
num_str = "720"
print(num_str, type)

720 <class 'type'>

In [ ]:
num_int = int(num_str)   # 형변환
print(num_int, type(num_int))

720 <class 'int'>

In [ ]:
num = 100
print(num, type(num))

100 <class 'int'>

In [ ]:
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [ ]:
str_ = "15.79"
print(str_, type(str_))

15.79 <class 'str'>

In [ ]:
float_ = float(str_)
print(float_, type(float_))

15.79 <class 'float'>

In [ ]:
year = "2020"
result = int(year)  # 형변환
print(int(year) - 3, type(result))
print(int(year) - 2, type(result))
print(int(year) - 1, type(result))

2017 <class 'int'>
2018 <class 'int'>
2019 <class 'int'>

In [ ]:
에어컨 = 489584
total = 에어컨 * 36
print(total)

17625024

###  문자열 인덱싱 (21~50)

- 21~30

In [ ]:
# P 와 t 를 출력
letters = "Python"
print(letters[0], letters[2])

P t

In [ ]:
# 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력
license_plate = "24가 2210"
print(license_plate[4:])
# print(license_plate[-4:]) -> 뒤에서 출력

2210

In [ ]:
# 홀홀홀만 출력
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [ ]:
# 문자열 거꾸로 뒤집어 출력
string = "PYTHON"
print(string[::-1])

NOHTYP

In [ ]:
# 전화번호에서 '-' 제거하고 출력
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [ ]:
# 전화번호를 붙여서 출력하기
phone_number2 = phone_number.replace("-", "")
print(phone_number2)

01011112222

In [ ]:
url = "http://sharebook.kr"
print(url[-2:])

kr

In [ ]:
# 아래 코드를 예상하고 출력
lang = 'python'
lang[0] = 'p'  #  문자열은 수정할 수 없다.
print(lang)

TypeError: ignored

In [ ]:
# replace 사용
string = 'abcdef2a345a32a'
result = string.replace('a', 'A')
print(result)

Abcdef2A345A32A

In [ ]:
# replace 사용2
string = 'abcd'
string1 = string.replace('b', 'B')
print(string1)

aBcd

- 31~40

In [ ]:
# 문자열 합치기
a = "3"
b = "4"
print(a + b)

34

In [ ]:
# 문자열 곱하기
print("Hi" * 3)

HiHiHi

In [ ]:
# '-' 8개 출력하기
print("-" * 80)

--------------------------------------------------------------------------------

In [ ]:
# 문자열 곱하기
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3 * 3)

python java python java python java

In [ ]:
# 문자열 출력
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름 : ", name1, "나이 : ", age1)
print("이름 : ", name2, "나이 : ", age2)

# print("이름 : %s 나이 : %d", (name1, age1))  -> '%s'는 문자열 데이터 타입
# print("이름 : %s 나이 : %d", (name2, age2))  -> '%d'는 정수형 데이터 타입 출력 의미

이름 :  김민수 나이 :  10
이름 :  이철희 나이 :  13

In [ ]:
# format() 메서드 사용
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름 : {} 나이 : {}".format(name1, age1))
print("이름 : {} 나이 : {}".format(name2, age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [ ]:
# 문자열 출력
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름 : {name1}, 나이 : {age1}")
print(f"이름 : {name2}, 나이 : {age2}")

이름 : 김민수, 나이 : 10
이름 : 이철희, 나이 : 13

In [ ]:
# 컴마 제거하기
상장주식수 = "5,969,782,550"
result = 상장주식수.replace(",", "")
result1 = int(result)
print(result1, type(result1))

5969782550 <class 'int'>

In [ ]:
# 문자열 슬라이싱
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [ ]:
# 공백 제거 -> strip()사용
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

- 41~50

In [ ]:
#upper 메서드
ticker = "btc_krw"
result = ticker.upper()
print(result)

BTC_KRW

In [ ]:
#lower 메서드
ticker1 = "BTC_KRW"
result1 = ticker1.lower()
print(result1)

btc_krw

In [ ]:
#capitalize 메서드
name = "hello"
name1 = name.capitalize()
print(name1)

Hello

In [ ]:
# endswith 메서드
file_name = "보고서.xlsx"
result = file_name.endswith("xlsx")

In [ ]:
# endswith 메서드
file_name = "보고서.xlsx"
result = file_name.endswith(("xlsx", "xls"))

In [ ]:
# startswith 메서드
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [ ]:
# split 메서드
a = "hello world"
a.split()

['hello', 'world']

In [ ]:
# split 메서드
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [ ]:
# split 메서드
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [ ]:
# rstrip 메서드
data = "039490  "
data.rstrip()

'039490'

### 파이썬 리스트(51~70)

- 51~60

In [ ]:
# 리스트 생성
movie_rank = ["닥터 스트레인지", "스프릿", ":럭키"]
print(movie_rank)

['닥터 스트레인지', '스프릿', ':럭키']

In [ ]:
# 리스트에 원소 추가하기
movie_rank.append("배트맨")
movie_rank

['닥터 스트레인지', '스프릿', ':럭키', '배트맨']

In [ ]:
# movie_rank.insert(인덱스, 원소) 메서드 사용
movie_rank.insert(1, '슈퍼맨')

In [ ]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스프릿', ':럭키', '배트맨']

In [ ]:
# 럭키 삭제하기
del movie_rank[3]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스프릿', '배트맨']

In [ ]:
# 스프릿과 배트맨 삭제
del movie_rank[2:4]
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [ ]:
# 두개 리스트 합치기
lang1 = ["C", 'C++', 'JAVA']
lang2 = ["PYTHON", "GO", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'PYTHON', 'GO', 'C#']

In [ ]:
# 리스트의 최소값과 최대값 구하기
nums = [1, 2, 3, 4, 5, 6, 7]
M = max(nums)
m = min(nums)
print("최대: ", M)
print("최소: ", m)

최대:  7
최소:  1

In [ ]:
# 다음 리스트 합 구하기
nums = [1, 2, 3, 4, 5]
sum_num = sum(nums)
print("합 : ", sum_num)

합 :  15

In [ ]:
# 다음 리스트 저장된 데이터 개수 구하기
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자",
        "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [ ]:
# 리스트 평균 구하기
nums = [1, 2, 3, 4, 5]
mean = sum(nums) / len(nums)
print(mean)

3.0

- 61~70

In [ ]:
# price 변수에 날짜와 종가정보가 저장 되어있다. 가격정보만 출력하기
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
# 슬라이싱 이용해서 홀수만 출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [ ]:
# 슬라이싱 이용해서 짝수만 출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [ ]:
# 슬라이싱 사용해서 리스트 숫자 역방향 출력
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [ ]:
# interest 리스트 사용해서 아래와 같이 출력
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [ ]:
# join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하니닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하니닉스 미래에셋대우

In [ ]:
# join 메서드 '/' 사용
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하니닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하니닉스/미래에셋대우

In [ ]:
# join 메서드 -> 줄바꿈 사용
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하니닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하니닉스
미래에셋대우

In [ ]:
# 문자열 split 메서드
string = "삼성전자/LG전자/Naver"
result = string.split('/')
print(result)

['삼성전자', 'LG전자', 'Naver']

In [ ]:
# 리스트 정렬 -> 오름차순
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [ ]:
|